/*//////////////////////////////////////////////////////////////////////////////////////////////*/
/* Passwall ////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////*/

#passwall-dialog {
  border: 10px solig blue;
  position: fixed;
  z-index: 999999;
  top: 20px;
  right: 20px;
}

#passwall-dialog iframe {
  display: block;
  width: 350px;
  height: auto;
  background: #0A0F17;
  border-style: none;
  border-radius: 16px;
}
